* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* root variables */
  --primary-bg: rgb(247, 250, 253);
  --nav-bg: #333;
  --card-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
label,
span {
  font-family: "Nanum Gothic", sans-serif;
}

ul,
li {
  font-family: "Teko", sans-serif;
  list-style-type: none;
}

label {
  font-weight: bold;
}

body {
  background-color: var(--primary-bg);
  height: 100vh;
}

/*-------------------- The navbar component ---------------------*/
.nav {
  display: flex;
}

.nav ul {
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
  background-color: var(--nav-bg);
}

.nav li {
  float: left;
}

.nav li:first-child {
  margin-left: 10px;
}

.nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

.loginBtn {
  float: right;
  margin-right: 10px;
}

/*-------------------- The main component ---------------------*/
.main {
  display: flex;
  width: 100%;
  height: 800px;
  justify-content: center;
  align-items: center;
}

.card {
  -webkit-box-shadow: 0px 0px 3px 20px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 3px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 3px 20px rgba(0, 0, 0, 0.05);
  background-color: var(--card-color);
  width: 50%;
}

.column__align {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.column {
  max-width: 50%;
}

/*-------------------- The left component ---------------------*/
.button,
.left__column label,
.remember__me-link {
  font-weight: bold;
  font-size: 0.8rem;
}

.left__column label {
  margin: 10px;
}

.left__column {
  padding: 100px 75px;
}

.left__column {
  border-right: 2px solid rgba(128, 128, 128, 0.158);
}

.forgot__pass-link,
.sign__up-text a {
  font-size: 0.8rem;
  text-decoration: none;
  color: blue;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.google__btn-align {
  display: flex;
  justify-content: space-between;
  position: relative;
  line-height: 1;
}

.google__logo {
  width: 50px;
  position: absolute;
  left: 40px;
}

.left__column label {
  font-size: 0.8rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.google__login-btn,
.login__btn {
  background-color: white;
  border: 1px solid #e7e7e7;
  color: black;
  display: block;
  width: 100%;
  padding: 12px 0px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.google__login-btn:hover {
  background-color: rgb(6, 6, 49);
  color: white;
  transition: 0.2s ease-in;
}

.login__btn {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgb(6, 6, 49);
}

.login__btn:hover {
  background-color: rgba(6, 6, 49, 0.925);
}

.link__align {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.sign__up-text {
  text-align: center;
  font-size: 0.8rem;
}
/*-------------------- The right component ---------------------*/
.right__column {
  /* padding: 75px 0px; */
  padding: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo {
  width: 50px;
  height: 27px;
}

.align__logo {
  display: flex;
  position: relative;
  right: 50px;
}

.text__box {
  max-width: 100%;
  word-wrap: break-word;
}

.text__box h3 {
  font-family: "Rubik", sans-serif;
}

/* Media queries */
@media screen and (max-width: 1100px) {
  .card {
    width: 75%;
  }
  .column {
    display: block;
    padding: 0px;
    max-width: 100%;
  }
  .column__align {
    display: block;
  }
  .left__column {
    padding: 10px;
    margin-bottom: 20px;
  }
  .right__column {
    text-align: center;
  }
  .text__box {
    margin-bottom: 10px;
  }
  .align__logo {
    display: block;
    position: static;
  }
}
