* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* root variables */
  --primary-bg: rgb(78, 78, 78);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Anton", sans-serif;
}

ul,
li {
  font-family: "Teko", sans-serif;
}

/* The navbar component */
.nav {
  display: flex;
}

.nav ul {
  width: 100%;
  font-size: 1.5rem;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
}

.nav li {
  float: left;
}

.nav li:first-child {
  margin-left: 10px;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

.loginBtn {
  float: right;
  margin-right: 10px;
}

/* The main component */
.header {
  padding: 60px;
  background-color: rgb(42, 100, 122);
}

/* Media queries */
